.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el mensaje se centre verticalmente en la página completa */
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }